
/****************************
 * Cookware headless ice 
 *****************************/
$grey-020: #333;
$grey-050: #808080;
$grey-056: #909090;
$blue-040: #08c;
$bg-code: #eef; // Background color for the code element
