article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	color: $blue-040;
	text-decoration: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

code,
kbd,
pre,
samp {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}
pre {
	overflow: auto;
}

strong {
	font-weight: bold;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}
