{% extends "base.njk" %}
{% set blockLintLink = true %}
{% set title = "Project overview" %}
{% import "reports/macros.njk" as macros %}
{% from "reports/vars-en.njk" import txt %}

{% block content %}
<div class="report-stamp">{{ createdDateTime }}</div>
<h1>Project overview</h1>
<table class="project-overview center-vertically">
{{- macros.getHeader("padl15", true, report, txt) }}
	{%- for group in report.groups %}
		{{- macros.getGroupBody(5, "plain", frmt, group, true, "files") }}
		{{- macros.getAggregates("plain", frmt, true, group, txt) }}
	{%- endfor %}			{#- for loop group in groups #}
	<tr class="noprint">
		<td colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<th style="page-break-before: always;" colspan="5">Report summary <span class="plain"> - {{ report.itemCount }} files in {{ report.groups.length }} groups</span></th>
	</tr>
	{%- for group in report.groups %}
		{{- macros.getGroupSummary(frmt, group, true) }}
	{%- endfor %}			{#- for loop group in groups #}
	{{- macros.getAggregates("plain", frmt, true, report, txt) }}
</table>
<p>
	Number of integrated external Node.js packages: {{ report.packages.length }}
</p>
{%- if report.showPackages %}
<ul>
	{%- for package in report.packages %}
	<li><a href="https://www.npmjs.com/package/{{ package }}">{{ package }}</a></li>
	{%- endfor %}
</ul>
{% endif %}
{% endblock %}
