{% extends "base.njk" %}
{% set blockLintLink = true %}
{% set title = "Todo list" %}
{% block content %}
<span class="report-stamp">{{ dateTime }}</span>
<h1>Todo list</h1>
<table>
	<tr>
		<th>Line #</th>
		<th>&nbsp;</th>
	</tr>
	{%- for dir in dirs %}
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th>Directory: {{ dir.name }} </th>
	</tr>
	{%- for file in dir.files %}
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th>File: {{ file.name }} </th>
	</tr>
	{%- for result in file.results %}
	<tr>
		<td>{{ result[0] }} </td>
		<td>{{ result[1] | safe }} </td>
	</tr>
	{%- endfor %}     {#- for loop result in file.results #}
	{%- endfor %}     {#- for loop file in dirs.files #}
	{%- endfor %}     {#- for loop dir in dirs #}
</table>
{% endblock %}
