<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/sys/css/generic.css">
		<link rel="stylesheet" href="/static/sys/css/project.css">
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<div class="container">{%- block content %}{% endblock -%}
		{%- if not blockLintLink and environment != "production" %}
			<hr>
			<a href="{{ reqUrl }}?lint=true" target="_blank">Lint this file</a>
		{% endif -%}
		</div>
	</body>
</html>
